<div class="month">
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
    <app-upgrade-day></app-upgrade-day>
</div>
